<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAzgMUpGziTaD1owjqGafO_o0Q_b8zXRpc</string>
	<key>GCM_SENDER_ID</key>
	<string>277441656107</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.roomza1</string>
	<key>PROJECT_ID</key>
	<string>roomza-a8b5a</string>
	<key>STORAGE_BUCKET</key>
	<string>roomza-a8b5a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:277441656107:ios:befa9c5cb3805510ae816e</string>
</dict>
</plist>